.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
*.Rproj
.httr-oauth
*_cache/
/cache/
*.tmp
*.bak
*.swp
*~
/*.tar.gz
/*.zip
*.Rcheck/
packrat/lib*/
.DS_Store
Thumbs.db
/doc/
/Meta/
.vscode/
.idea/
tests/testthat/Rplots.pdf
